{% extends "layout/dashboard-base.html" %}

{% load bootstrap4 %}

{% block extra_style %}
<style>
  .form-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .form {
    width: 30rem;
  }

  label {
    display: none;
  }
</style>
{% endblock extra_style %}


{% block content %}
<div class="form-container">
  <div class="form mt-5">
    <h2 class="font-weight-bolder text-muted mb-4">Add medical Informations</h2>
    <form method="post" novalidate>
      {% csrf_token %}
      {% bootstrap_form form %}
      <input class="btn btn-primary btn-block" type="submit" value="Add">
    </form>
  </div>
</div>
{% endblock content %}