{% extends "layout/auth-base.html" %}

{% load bootstrap4 %}

{% block extra_style %}
<style>
  .form-text {
    display: none;
  }

  .form-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .form {
    width: 30rem;
  }

  label {
    display: none;
  }

  .form-check label {
    display: inline-block !important;
  }
</style>
{% endblock extra_style %}


{% block content %}
<div class="form-container">
  <div class="form mt-5">
    <h1 class="font-weight-bolder text-muted">Sign Up</h1>
    <form method="post" novalidate>
      {% csrf_token %}
      {% bootstrap_form form %}
      <input class="btn btn-primary btn-block" type="submit" value="Sign up">
    </form>
    <p class="text-muted mt-3">Already have an account? <a href="{% url 'users:signin' %}">Sign in</a></p>
  </div>
</div>

{% endblock content %}